# ==============================================================================
# CONFIGURAÇÕES GLOBAIS DA API
# ==============================================================================
PROJECT_NAME="YT Downloader"
ENVIRONMENT=development
FRONTEND_URL=http://localhost:3000

# ==============================================================================
# CRIPTOGRAFIA E SESSÃO DO USUÁRIO (JWT)
# ==============================================================================
# Gere uma chave simétrica forte de 32 bytes (ex: rodando 'openssl rand -hex 32')
JWT_SECRET_KEY=d90bddb7eaa65e334830a656a509512320dfd8b66838a4585971dbd3936de1d9
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15

# ==============================================================================
# GATEWAY DE PAGAMENTOS (STRIPE)
# ==============================================================================
# Chave Secreta de Testes obtida em ://stripe.com (Começa com sk_test_...)
STRIPE_SECRET_KEY=sk_test_51TkEIuJvmxCnrrumaD2lBEGumtNJ9h9ZizyjtEvLfZxnNYIEAySBopOcQwoTJbTMxMYNfAxiGeXtcD3FxfdMaNIJ00c0jMuj1f

# Chave de assinatura obtida ao configurar o webhook no Stripe (Começa com whsec_...)
STRIPE_WEBHOOK_SECRET=whsec_tCadnvAFKDLJ55W3eKJkxN7Pzya6yiOO

# ID do Produto de Assinatura Recorrente Mensal de R$ 4,99 (Começa com price_...)
STRIPE_PRICE_ID_PREMIUM=price_1TkRSUJvmxCnrrumqaH2q43s

# ==============================================================================
# INFRAESTRUTURA DE BANCO / CACHE
# ==============================================================================
# String de conexão do Redis fornecida automaticamente pelo painel do Railway
REDIS_URL=redis://localhost:6379/0
