# ==============================================================================
# CONFIGURAÇÕES PÚBLICAS DO FRONTEND (SEGURO PARA O GITHUB)
# ==============================================================================

# Chave Pública de Testes do Stripe (Obtida em ://stripe.com -> Começa com pk_test_...)
# ATENÇÃO: NUNCA coloque chaves secretas (sk_...) neste arquivo!
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TkEIuJvmxCnrrumzhsg4Tn9vB5xUV1FDGVKG7FkvHqHJyat7w9TSoE9fMcL8B0xkvXsNWHgbQ0qYVG9AZHQqx1l00NSy5Ldob

# URL de produção ou local da sua API Backend rodando em Python/FastAPI
NEXT_PUBLIC_API_URL=http://localhost:8000
