STRIPE_SECRET_KEY=sk_test_51TkEIuJvmxCnrrumaD2lBEGumtNJ9h9ZizyjtEvLfZxnNYIEAySBopOcQwoTJbTMxMYNfAxiGeXtcD3FxfdMaNIJ00c0jMuj1f
STRIPE_WEBHOOK_SECRET=whsec_tCadnvAFKDLJ55W3eKJkxN7Pzya6yiOO
JWT_SECRET_KEY=d90bddb7eaa65e334830a656a509512320dfd8b66838a4585971dbd3936de1d9
REDIS_URL=redis://localhost:6379/0